{% extends "base.html" %}
{% block head-title %}当当网 网上购物享当当 - 比购族{% endblock %}
{% block head-link %}
<link rel="stylesheet" href="/media/css/result.css" media="screen" type="text/css" />
{% endblock %}
{% block main-cont %}
<h1>祝您购物愉快，返现活动将在近日推出，欢迎大家关注</h1>
<iframe frameborder="0" marginheight="0" marginwidth="0" border="0" id="alimamaifrm" name="alimamaifrm" scrolling="no" height="2432px" width="964px" src="http://union.dangdang.com/transfer/transfer.aspx?from=P-128640&backurl=http://www.dangdang.com" ></iframe>
{% endblock %}