body {
font-family: Arial;
background-color:#EFE7D2;
font-size:13px ;
color:#666666;
}
img {
border:none;
}
#main {
width:880px;
position:relative;
top:20%;
left:50%;
margin-left:-438px;
}
#logo {
position:absolute;
z-index:1;
left:0;
margin-top:103px;
margin-left:18px;
}
#top_navigation {
position:absolute;
left:75%;
margin-top:108px;
}
#topN1 {
background-image:url(../img/navigation_top_r1_c1.jpg);
background-repeat:no-repeat;
width:50px;
height:30px;
float:left;
text-align:center;
line-height:30px;
}
#topN2 {
background-image:url(../img/navigation_top_r1_c2.jpg);
background-repeat:no-repeat;
width:50px;
height:30px;
float:left;
text-align:center;
line-height:30px;
float:left;
}
#topN3 {
background-image:url(../img/navigation_top_r1_c3.jpg);
background-repeat:no-repeat;
width:50px;
height:30px;
float:left;
text-align:center;
line-height:30px;
float:left;
}
#topN4 {
background-image:url(../img/navigation_top_r1_c4.jpg);
background-repeat: no-repeat;
width:50px;
height:30px;
float:left;
text-align:center;
line-height:30px;
float:left;
}
#search_main {
background-image:url(../img/search_bg.jpg);
background-repeat:no-repeat;
width:880px;
height:415px;
position:absolute;
left:50%;
margin-left: -440px; 
margin-top:176px;
}
#search_text {
position: absolute;
top:45%;
left:40%;
}
#search_sub {
position: absolute;
top:55%;
left:21%;
}
#search_box{
background:url(../img/search_box.jpg) no-repeat scroll left top transparent;
width:502px;
height:53px;
float:left;
}
#query {
font: 18px/15px "Trebuchet MS","Lucida Grande",Verdana,sans-serif;
color:#418200;
background:none;
width:460px;
size:480px;
line-height:53px;
border:none;
padding-top:14px;
padding-left:20px;
padding-right:10px;
text-align:centerline;
}
#index_submit {
width:53px;
height:51px;
background:url(../img/submit_button.jpg) no-repeat scroll left top transparent;
border:none;
cursor:pointer;
color:white;
margin-left:15px;
}
#books {
margin-top:10px;
margin-left:240px;
}
a:link {color:#346702;text-decoration:none;font-size:12px;}
a:visited {color:#346702;text-decoration:none;font-size:12px;}
a:hover {color:white;text-decoration:underline;font-size:12px;}
