body, div, ul, ol, li, h1, h2, h3, form, p, th, td {
margin:0;
padding:0;
}
li {
list-style:none outside none;
}
body {
line-height:131%;
font:82% Arial,Helvetica,sans-serif;
}
a {
color:#1111CC;
}
table {
border-collapse:collapse;
border-spacing:0;
}
td, th {
vertical-align:top;
}
.hidden{display:none}
#logo {
display:block;
position:absolute;
margin-left:20px;
float:left;
z-index:1;
}
#logo img {
left:0;
position:absolute;
top:0px;
}
.srch_box {
border-color:#CCCCCC;
border-style:solid;
border-width:1px;
float:left;
font-family:Arial,sans-serif;
font-size:139%;
height:22px;
padding:4px 10px 10px 6px;
width:550px;
}
#header #search-input {
margin-top:21px;
}
#header .srchBoxCont, .srchBoxCont {
padding:0;
}
#header .srchBoxCont, .srchBoxCont {
padding-right:4px;
}
.srchBoxCont {
}
#search-input {
border-collapse:separate;
}
.search_advanced a {
color:#4272DB;
text-decoration:none;
}
.search_advanced {
font-size:85%;
padding-left:0;
padding-top:3px;
text-align:right;
width:auto;
white-space:nowrap;
}
#result-count {
font-size:85%;
left:176px;
margin-top:-29px;
position:absolute;
}

#result_text {
margin-left:300px;
}
img {
	border:none;
}
#header {
clear:both;
}
#logo {
height:49px;
margin:15px 19px 21px 4px;
overflow:hidden;
position:relative;
width:137px;
display:block;
}
#result-count {
font-size:85%;
left:166px;
margin-top:-24px;
position:absolute;
}


.col_left{
	border:0 none;
	padding:0 4px;
	width:143px;
	float:left;
	line-height:120%;
	background:none repeat scroll 0 0 #FFFFFF;
	border-right:1px solid #C9D7F1;
	position:absolute;
}
#results {
margin:0 0 22px;
width:780px;
}
#ads-top, #ads-bot {
padding:6px 8px;
}
.result{
	border-bottom:1px solid #DDDDDD;
	padding:10px 0 10px 6px;
	list-style:none outside none;
}
.result-cont{
overflow:hidden;
width:99.5%;
}
.result-image {
float:left;
}
.result-price-seller {
float:right;
width:200px;
}
.result-price-range {
font-size:139%;
}
.result-title-description {
	width:300px;
	margin:0 200px 0 100px;
}
.result-title {
padding-bottom:2px;
}
.content-cont{margin-left:151px;
border-left:1px solid #D3E1F9;
padding-left:8px;
}