<style type="text/css">
<!--
body {
	margin-top: 0px;
	margin-bottom: 0px	;
	font-family: "宋体";
	font-size: 12px;
	color: #006666;
}
ul {font-size:14px;}
ul li {font-size:12px;list-style:square;}
a:link { color: #0EA5E5; text-decoration:none}
a:visited {color: #0EA5E5; text-decoration:none}
a:hover {color: #006666; text-decoration:underline}
a:active {color: #0EA5E5;}
.STYLE2 {
	font-family: "宋体";
	font-size: 12px;
	color: #006666;
}
.STYLE3 {color: #0EA5E5}
-->
</style>

<form method="POST" action=".">
{{form.as_p}}
<p><input type="submit" class="submit" value="提交"><input type="reset" class="reset" value="重置"></p>
</form>

已抓取网站列表：
{% for site in allsite%}
<p><a href="/bookcatch/sitedetail_id={{site.id}}">{{site.siteName}}</a></p>
{% endfor %}