<style type="text/css">
<!--
body {
	margin-top: 0px;
	margin-bottom: 0px	;
	font-family: "宋体";
	font-size: 12px;
	color: #006666;
}
ul {font-size:14px;}
ul li {font-size:12px;list-style:square;}
a:link { color: #0EA5E5; text-decoration:none}
a:visited {color: #0EA5E5; text-decoration:none}
a:hover {color: #006666; text-decoration:underline}
a:active {color: #0EA5E5;}
.STYLE2 {
	font-family: "宋体";
	font-size: 12px;
	color: #006666;
}
.STYLE3 {color: #0EA5E5}
-->
</style>
<p>网站名称：<a href="{{site.siteUrl}}">{{site.siteName}}</a></p>
<p>起始地址：<a href="{{site.startUrl}}">{{site.startUrl}}</a></p>
{% for top in top %}
<ul><a href="{{top.url}}">{{top.title|safe}}</a>
	{%for sub in sub%}
		{% ifequal sub.topcategory_id top.id %}
			<li><a href="/bookcatch/bookdetail_siteid={{sub.siteId}}&subid={{sub.id}}">{{sub.title|safe}}</a></li>
		{% endifequal %}
	{% endfor %}
</ul>
{% endfor %}