{% extends "base.html" %}
{% block head-title %}卓越亚马逊网上购物 - 比购族{% endblock %}
{% block head-link %}
<link rel="stylesheet" href="/media/css/result.css" media="screen" type="text/css" />
{% endblock %}
{% block main-cont %}
<h1>祝您购物愉快，返现活动将在近日推出，欢迎大家关注</h1>
<iframe frameborder="0" marginheight="0" marginwidth="0" border="0" id="alimamaifrm" name="alimamaifrm" scrolling="no" height="2432px" width="100%" src="http://www.amazon.cn/default.asp?&tag=harrie&camp=336&creative=1412&linkCode=ur1&adid=19ZRG1X0HKDH8991GBEN&" ></iframe>
{% endblock %}