<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>网上购物？先来比一比吧！</title>
	<link rel="stylesheet" href="/media/css/index.css" media="screen" type="text/css" />
	</head>
	
	<body class="search">
	<div id="main" align="center">
		<div id="logo"><a href='/'><img src="/media/img/logo.png" /></a></div>
		<div id="top_navigation">
			<div id="topN1"><a href="/">首页</a></div>
			<div id="topN2"><a href="#">帮助</a></div>
			<div id="topN3"><a href="#">关于</a></div>
			<div id="topN4"><a href="#">反馈</a></div>
		</div>
		<div id="search_main">
			<div id="search_text">想买什么，放到搜索框里比一比吧</div>
			<div id="search_sub">
				<form action="/search/" method="GET">
					<div id="search_box"><input id="query" type="text" name="query"/></div>
					<input id="index_submit" type="submit" value="">
				</form>
			</div>
		</div>
	</div>
	</body>
</html>
<div>

