{% extends "base.html" %}
{% block head-title %}淘宝网上购物 - 比购族{% endblock %}
{% block head-link %}
<link rel="stylesheet" href="/media/css/result.css" media="screen" type="text/css" />
{% endblock %}
{% block main-cont %}
<h1>祝您购物愉快，返现活动将在近日推出，欢迎大家关注</h1>
<iframe frameborder="0" marginheight="0" marginwidth="0" border="0" id="alimamaifrm" name="alimamaifrm" scrolling="no" height="2432px" width="950" src="http://pindao.huoban.taobao.com/tms/channel/channelcode.htm?pid=mm_10041056_0_0&eventid=101329" ></iframe>
{% endblock %}